<br />
<h1 class="title">会場編集</h1>
<div align="right"><%= link_to image_tag('/images/Show.jp2', { :border => '0', :alt => 'Show'}), @place %></div>

<%= render 'replace' %>

<div align="right"><%= link_to image_tag('/images/Back.jp2', { :border => '0', :alt => 'Back'}), places_path %></div>