<h1>Editing place</h1>

<%= render 'form' %>

<%= link_to 'Show', @place %> |
<%= link_to image_tag('/images/Show.jp2', { :border => '0', :alt => 'Show'}), @place %> |
<%= link_to image_tag('/images/Back.jp2', { :border => '0', :alt => 'Back'}), places_path %>
