<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Japanese Scrum Community - "Sukusuku-Scrum" | It's a study meeting that searches for the hint of the "Gemba".</title>
  <meta http-equiv="X-UA-Compatible" content="IE=8" />
  <link rel="shortcut icon" href="http://www.sukusuku-scrum.jp/sites/all/themes/zeropoint/favicon.ico" type="image/x-icon" />

  <!--[if lte IE 6]>
  <link type="text/css" rel="stylesheet" media="all" href="http://www.sukusuku-scrum.jp/sites/all/themes/zeropoint/css/ie6.css" />
  <![endif]-->

  <!--[if IE 7]>
  <link type="text/css" rel="stylesheet" media="all" href="http://www.sukusuku-scrum.jp/sites/all/themes/zeropoint/css/ie7.css" />
  <![endif]-->

  <link type="text/css" rel="stylesheet" media="all" href="http://www.sukusuku-scrum.jp/modules/aggregator/aggregator.css?X" />
  <link type="text/css" rel="stylesheet" media="all" href="http://www.sukusuku-scrum.jp/modules/book/book.css?X" />
  <link type="text/css" rel="stylesheet" media="all" href="http://www.sukusuku-scrum.jp/modules/node/node.css?X" />
  <link type="text/css" rel="stylesheet" media="all" href="http://www.sukusuku-scrum.jp/modules/poll/poll.css?X" />
  <link type="text/css" rel="stylesheet" media="all" href="http://www.sukusuku-scrum.jp/modules/system/defaults.css?X" />
  <link type="text/css" rel="stylesheet" media="all" href="http://www.sukusuku-scrum.jp/modules/system/system.css?X" />
  <link type="text/css" rel="stylesheet" media="all" href="http://www.sukusuku-scrum.jp/modules/system/system-menus.css?X" />
  <link type="text/css" rel="stylesheet" media="all" href="http://www.sukusuku-scrum.jp/modules/user/user.css?X" />
  <link type="text/css" rel="stylesheet" media="all" href="http://www.sukusuku-scrum.jp/sites/allhttp://www.sukusuku-scrum.jp/modules/cck/theme/content-module.css?X" />
  <link type="text/css" rel="stylesheet" media="all" href="http://www.sukusuku-scrum.jp/modules/forum/forum.css?X" />
  <link type="text/css" rel="stylesheet" media="all" href="http://www.sukusuku-scrum.jp/sites/allhttp://www.sukusuku-scrum.jp/modules/cckhttp://www.sukusuku-scrum.jp/modules/fieldgroup/fieldgroup.css?X" />
  <link type="text/css" rel="stylesheet" media="all" href="http://www.sukusuku-scrum.jp/sites/allhttp://www.sukusuku-scrum.jp/modules/views/css/views.css?X" />
  <link type="text/css" rel="stylesheet" media="all" href="http://www.sukusuku-scrum.jp/sites/all/themes/zeropoint/css/style-zero.css?X" />
  <link type="text/css" rel="stylesheet" media="all" href="http://www.sukusuku-scrum.jp/sites/all/themes/zeropoint/_custom/custom-style.css?X" />
  <link type="text/css" rel="stylesheet" media="all" href="http://www.sukusuku-scrum.jp/modules/openid/openid.css?X" />
  <link type="text/css" rel="stylesheet" media="all" href="http://www.sukusuku-scrum.jp/sites/all/themes/zeropoint/css/round.css?X" />
  <link type="text/css" rel="stylesheet" media="print" href="http://www.sukusuku-scrum.jp/sites/all/themes/zeropoint/css/print.css?X" />

  <script type="text/javascript" src="http://www.sukusuku-scrum.jp/misc/jquery.js?X"></script>
  <script type="text/javascript" src="http://www.sukusuku-scrum.jp/misc/drupal.js?X"></script>
  <script type="text/javascript" src="http://www.sukusuku-scrum.jp/sites/default/files/languages/ja_1b02f8d7e285d2544dc5fd9e0287c4d0.js?X"></script>
  <script type="text/javascript" src="http://www.sukusuku-scrum.jp/modules/openid/openid.js?X"></script>
  <script type="text/javascript">
    <!--//--><![CDATA[//><!--
      jQuery.extend(Drupal.settings, { "basePath": "/" });
    //--><!]]>
  </script>
  <script type="text/javascript"> </script>
</head>

<body class="layout-left-main not-admin not-logged-in not-front full-node node-type-page nid-10 section-scrumalliance-ja page-scrumalliance-ja layout-jello l-m-var bicons48 picons lg-ja">
  <div id="skip-nav"><a href="#main">Skip to Content</a></div>
  <div id="top_bg" class="page">
    <div class="sizer">
      <div id="topex" class="expander0">
        <div id="top_left">
          <div id="top_right">
            <div id="headimg">
              <div id="above" class="clearfix"></div>
              <div id="header" class="clearfix">

                <div id="logo">
                  <a href="http://0.0.0.0:3000/" title="ホーム">
                    <img src="http://www.sukusuku-scrum.jp/sites/all/themes/zeropoint/logo.png" alt="ホーム" />
                  </a>
                </div> <!-- /logo -->

                <div id="top-elements">
                  <div id="toplinks"></div>
                </div><!-- /top-elements -->

                <div id="name-and-slogan">
                  <h1 id="site-name">
                    <a href="http://0.0.0.0:3000/" title="ホーム">スクラムコミュニティ "すくすくスクラム" Japanese Scrum Community - "Sukusuku-Scrum"</a>
                  </h1>
                </div> <!-- /name-and-slogan -->

                <div class="brclear"></div>

              </div> <!-- /header -->
            </div>
          </div><!-- /top_right -->
        </div><!-- /top_left -->
      </div><!-- /expander0 -->
    </div><!-- /sizer -->
  </div><!-- /top_bg -->

  <div id="body_bg" class="page">
    <div class="sizer">
      <div class="expander0">
        <div id="body_left">
          <div id="body_right">
            <div class="navleft"></div>
            <div id="breadcrumb">

              <div class="breadcrumb">
                <strong>&raquo; <a href="http://0.0.0.0:3000/"><font color="#00cc33">Create Event</font></a> | <a href="http://0.0.0.0:3000/">Event Search</a> | <a href="http://0.0.0.0:3000/">Event Help</a></strong>
              </div>
            </div>

            <div id="middlecontainer">
              <div id="wrapper">
                <div class="outer">
                  <div class="float-wrap">
                    <div class="colmain">
                      <div id="main">
                        <h1 class="title">Sukusuku-Scrum Create Event</h1>
                        <div class="tabs"></div>
                        <!-- node --> 
                        <div id="node-10" class="node odd full-node node-type-page">
                        
                          <div class="content">
                            <h2><font color="#669966">NAME</font> No:<select name="no"><option value="1" selected>25</option><option value="2">26</option><option value="3">27</option></select> 〜<input type="text" size="65" name="name"> 〜
                            <font color="#669966">STATUS</font> : <select name="status"><option value="1" selected>ready</option><option value="2">public</option><option value="3">close</option></select></h2>
                            <h2><font color="#669966">DATE</font></h2>
                               DATE : <select name="date"><option value="1" selected>2011</option><option value="2">2012</option></select>年（yyyy / MM / DD）〜
                               TIME : <select name="time"><option value="1" selected>19</option><option value="2">20</option></select>時（24MM / MM / a day of the week）〜<br />
                            <h2><font color="#669966">EVENT PLACE</font></h2>
                               Event Place : <input type="text" size="35" name="place">
                               Adress : <input type="text" size="57" name="adress"><br />
                               Adress URL : <input type="text" size="111" name="adressurl"><br />
                            <h2><font color="#669966">ENROLLMENT LIMIT</font> <select name="capacity"><option value="1" selected>50</option><option value="2">60</option><option value="3">70</option><option value="4">80</option><option value="5">90</option><option value="6">100</option></select></h2>
                            <h2><font color="#669966">EVENT SPECIFIC</font></h2>
                            <textarea name="specific" id="EVENTSPECIFIC" rows="10" cols="93" onfocus="javascript:beforeClick();"></textarea><br />
                            <input id="event_submit" name="commit" type="submit" value="Create Event" />
                          </div>
                        </div>
                        <!-- /node-10 -->
                      </div>
                    </div> <!-- /colmain -->

                    <br class="brclear" />

                  </div> <!-- /float-wrap -->

                  <br class="brclear" />

                </div><!-- /outer -->
              </div><!-- /wrapper -->
            </div>

            <div id="bar"></div>
            </ul>

            </div><!-- /body_right -->
          </div><!-- /body_left -->
        </div><!-- /expander0 -->
      </div><!-- /sizer -->
    </div><!-- /body_bg -->

    <div class="eopage">
      <div class="page">
        <div class="sizer">
          <div class="expander0">

            <div id="footer-wrapper" class="clearfix">
              <div id="footer">
                <div class="legal">Copyright &copy; 2011 <a href="/">Japanese　Scrum Community - "Sukusuku-Scrum"</a>.
                  <!--<div id="brand"></div>-->
                </div>
              </div>
            </div> <!-- /footer-wrapper -->

            <div id="belowme">
              <a href="http://0.0.0.0:3000/">
                <img src="http://www.sukusuku-scrum.jp/sites/all/themes/zeropoint/brand.png" alt="ホーム" />
              </a>
            </div>

          </div><!-- /expander0 -->
        </div><!-- /sizer -->
      </div><!-- /page -->
    </div>

    <div class="page">
        <div class="sizer">
          <div class="expander0">
          </div>
        </div>
    </div>
  </body>
</html>
- - -
<h1>Listing events</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
